In [8]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time
import requests
import re

In [9]:
driver=webdriver.Chrome(r'C:\\Users\\Harshit Reddy\\Downloads\\chromedriver_win32\\chromedriver.exe')

1.Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [134]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [160]:
rank=[]
try:
    Rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")  
    for i in Rank:
        rank.append(i.text)
except NoSuchElementException:  
        rank.append('No details available')
except NoSuchElementException:   
        rank.append('No details available')
        
name=[]
try:
    Names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")  
    for i in Names:
        name.append(i.text)
except NoSuchElementException:  
        name.append('No details available')
except NoSuchElementException:   
        name.append('No details available')
        
artist=[]
try:
    Artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")  
    for i in Artist:
        artist.append(i.text)
except NoSuchElementException:  
        artist.append('No details available')
except NoSuchElementException:   
        artist.append('No details available')   
        
views=[]
try:
    Views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")  
    for i in Views:
        views.append(i.text)
except NoSuchElementException:
        views.append('No details available')
except NoSuchElementException:   
        views.append('No details available') 
        
date=[]
try:
    Upload_Date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")  
    for i in Upload_Date:
        date.append(i.text)
except NoSuchElementException: 
        date.append('No details available')
except NoSuchElementException:   
        date.append('No details available')

In [161]:
Wikipedia=pd.DataFrame()
Wikipedia['Rank']=rank
Wikipedia['Name']=name
Wikipedia['Artist']=artist
Wikipedia['Upload_Date']=date
Wikipedia['Views']=views
Wikipedia

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.91
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.43
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.53
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.37
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.16
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.26
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.22
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.22
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.11
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.97
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.50
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.45
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.43
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.38
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.33
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.28
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.13
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.10
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.09
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.06
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.06
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.06
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.02
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.94
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.89
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.87
28,29.,"""Axel F""[54]",Crazy Frog,"June 16, 2009",2.86
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.85

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time.
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [31]:
url="https://www.bcci.tv/"
driver.get(url)

In [33]:
show=driver.find_element_by_xpath('//a[@href="/international/fixtures"]')
show.click()

In [67]:
Match_Title=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
match_Title=[]
for i in Match_Title:
    match_Title.append(i.text)
Date=driver.find_elements_by_xpath('//span[@class="fixture__date"]')
date=[]
for i in Date:
    date.append(i.text)
Series=driver.find_elements_by_xpath('//div[@class="fixture__teams"]')
series=[]
for i in Series:
    series.append(i.text.replace('\n',' '))
Place=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]')
place=[]
for i in Place:
    place.append(i.text.replace('1st ODI\n',' '))
Time=driver.find_elements_by_xpath('//span[@class="fixture__time"]')
time=[]
for i in Time:
    time.append(i.text)

In [83]:
Matches=pd.DataFrame()
Matches['Match_Title']=match_Title[0:11]
Matches['Series']=series[0:11]
Matches['Place']=place[0:11]
Matches['Date']=date[0:11]
Matches['Time']=time[0:11]
Matches

,Match_Title,Series,Place,Date,Time
0,1st ODI,SRI LANKA v INDIA,"1st ODI\nR Premadasa Stadium, Colombo",13,14:30 IST
1,2nd ODI,SRI LANKA v INDIA,"2nd ODI\nR Premadasa Stadium, Colombo",16,14:30 IST
2,3rd ODI,SRI LANKA v INDIA,"3rd ODI\nR Premadasa Stadium, Colombo",18,14:30 IST
3,1st T20I,SRI LANKA v INDIA,"1st T20I\nR Premadasa Stadium, Colombo",21,19:00 IST
4,2nd T20I,SRI LANKA v INDIA,"2nd T20I\nR Premadasa Stadium, Colombo",23,19:00 IST
5,3rd T20I,SRI LANKA v INDIA,"3rd T20I\nR Premadasa Stadium, Colombo",25,19:00 IST
6,1st Test,ENGLAND v INDIA,"1st Test\nTrent Bridge, Nottingham",04,15:30 IST
7,2nd Test,ENGLAND v INDIA,"2nd Test\nLord's, London",12,15:30 IST
8,3rd Test,ENGLAND v INDIA,"3rd Test\nHeadingley, Leeds",25,15:30 IST
9,4th Test,ENGLAND v INDIA,"4th Test\nThe Oval, London",02,15:30 IST
10,5th Test,ENGLAND v INDIA,"5th Test\nOld Trafford, Manchester",10,15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [10]:
url='https://www.guru99.com/'
driver.get(url)

In [11]:
selenium_link=driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']/a")
try:
    selenium_link.click()
except ElementNotInteractableException:         
    driver.get(selenium_link.get_attribute('href'))
time.sleep(2)

exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:      
    driver.get(exception_handle_link.get_attribute('href'))

In [23]:
name=[]
try:
    Name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in Name:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')

desc=[]
try:
    Description=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in Description:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')

In [24]:
Exception=pd.DataFrame()
Exception['Name']=name[1:]
Exception['Description']=desc[1:]
Exception

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion).
Note: - From statisticstimes home page you have to reach to economy page through code.

In [3]:
url='http://statisticstimes.com/'
driver.get(url)

In [6]:
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)

In [7]:
indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")
try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 
time.sleep(2)

In [121]:
rank=[]
try:
    Rank=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in Rank:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')

state=[]
try:
    State=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in State:
        state.append(i.text)
except NoSuchElementException:
    state.append('No details available')    
    
GSDP=[]
try:
    GSDP_at_Current_Price_19_20=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in GSDP_at_Current_Price_19_20:
        GSDP.append(i.text)
except NoSuchElementException:
    GSDP.append('No details available')    
    
gsdp=[]
try:
    GSDP_at_Current_Price_18_19=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in GSDP_at_Current_Price_18_19:
        gsdp.append(i.text)
except NoSuchElementException:
    gsdp.append('No details available')    
    
share=[]
try:
    Share_18_19=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in Share_18_19:
        share.append(i.text)
except NoSuchElementException:
    share.append('No details available')    
        
gdp=[]
try:
    GDP_Dollar_Billion=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in GDP_Dollar_Billion:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('No details available')

In [122]:
GDP=pd.DataFrame()
GDP['Rank']=rank
GDP['State']=state
GDP['GSDP_at_Current_Price_19_20']=GSDP
GDP['GSDP_at_Current_Price_18_19']=gsdp
GDP['Share_18_19']=share
GDP['GDP_Dollar_Billion']=gdp
GDP

,Rank,State,GSDP_at_Current_Price_19_20,GSDP_at_Current_Price_18_19,Share_18_19,GDP_Dollar_Billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [8]:
url="https://github.com/"
driver.get(url)

In [20]:
Repository_Title=driver.find_elements_by_xpath('//span[@class="text-normal"]')
title=[]
for i in Repository_Title:
    title.append(i.text.replace('/',' '))
    
Repository_Description=driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
desc=[]
for i in Repository_Description:
    desc.append(i.text)
    
Language=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')
language=[]
for i in Language:
    language.append(i.text)

In [21]:
Github=pd.DataFrame()
Github['Repository_Title']=title[0:19]
Github['Repository_Description']=desc[0:19]
Github['Language']=language[0:19]
Github

,Repository_Title,Repository_Description,Language
0,ailabstw,Taiwan Social Distancing App - Android,Kotlin
1,ailabstw,Taiwan Social Distancing App - iOS,Swift
2,shufflewzc,不知名大佬备份,JavaScript
3,airbnb,JavaScript Style Guide,JavaScript
4,laynH,Anime Girls Holding Programming Books,Python
5,swisskyrepo,A list of useful payloads and bypass for Web A...,JavaScript
6,trekhleb,📝 Algorithms and data structures implemented i...,Go
7,go-kratos,A Go framework for microservices.,JavaScript
8,iptv-org,Collection of publicly available IPTV channels...,JavaScript
9,30-seconds,Short JavaScript code snippets for all your de...,Java
10,spring-projects,Spring integration for GraphQL,C++
11,microsoft,"12 Weeks, 24 Lessons, IoT for All!",JavaScript
12,goldbergyoni,✅ The Node.js best practices list (June 2021),JavaScript
13,ryanmcdermott,🛁 Clean Code concepts adapted for JavaScript,JavaScript
14,sorrycc,🐢 A collection of awesome browser-side JavaScr...,Java
15,lydiahallie,A long list of (advanced) JavaScript questions...,JavaScript
16,star261,📚 Freely available programming books,Go
17,EbookFoundation,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,C++
18,chefyuan,The hacker's browser.,Clojure

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [27]:
url="https://www.billboard.com/"
driver.get(url)

In [29]:
show=driver.find_element_by_xpath('//a[@href="/charts"]')
show.click()

In [30]:
show1=driver.find_element_by_xpath('//a[@class="header__submenu__list__link"]')
show1.click()

In [10]:
Song_Names=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')   
name=[]
for i in Song_Names:
    name.append(i.text)
    
Artist_Names=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')   
names=[]
for i in Artist_Names:
    names.append(i.text)
    
Last_Week_Rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')  
rank=[]
for i in Last_Week_Rank:
    rank.append(i.text)

Peak_Rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')  
peak=[]
for i in Last_Week_Rank:
    peak.append(i.text)
    
Weeks_on_Board=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')  
week=[]
for i in Weeks_on_Board:
    week.append(i.text)

In [11]:
Songs=pd.DataFrame()
Songs['Song_Names']=name
Songs['Artist_Names']=names
Songs['Last_Week_Rank']=rank
Songs['Peak_Rank']=peak
Songs['Weeks_on_Board']=week
Songs

,Song_Names,Artist_Names,Last_Week_Rank,Peak_Rank,Weeks_on_Board
0,Butter,BTS,1,1,6
1,Good 4 U,Olivia Rodrigo,2,2,7
2,Kiss Me More,Doja Cat Featuring SZA,4,4,12
3,Levitating,Dua Lipa Featuring DaBaby,3,3,39
4,Bad Habits,Ed Sheeran,-,-,1
...,...,...,...,...,...
95,Twerkulator,City Girls,96,96,4
96,Tombstone,Rod Wave,83,83,14
97,Miss The Rage,Trippie Redd & Playboi Carti,82,82,8
98,Rise!,"Tyler, The Creator Featuring Daisy World",-,-,1
99,Working,Tate McRae X Khalid,94,94,2

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [96]:
url="https://www.naukri.com/data-science-recruiters"
driver.get(url)

In [54]:
search_button=driver.find_elements_by_xpath('//button[@class="fl qsbSrch blueBtn"]')

In [109]:
Name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
name=[]
for i in Name:
    name.append(i.text) 
Designation=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
d=[]
for i in Designation:
    d.append(i.text)
Company=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
c=[]
for i in Company:
    c.append(i.text)
Skills_they_hire_for=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
skills=[]
for i in Skills_they_hire_for:
    skills.append(i.text)
Location=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
loc=[]
for i in Location:
    if i.text is None:
        loc.append('--')
    else:
        loc.append(i.text)

In [110]:
Naukri=pd.DataFrame()
Naukri['Name']=name[0:48]
Naukri['Designation']=d[0:48]
Naukri['Company']=c[1::2][0:48]
Naukri['Skills_they_hire_for']=skills[0:48]
Naukri['Location']=loc[0:48]
Naukri

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Noida
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida

In [97]:
Name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
name=[]
for i in Name:
    name.append(i.text) 
Designation=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
d=[]
for i in Designation:
    d.append(i.text)
Company=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
c=[]
for i in Company:
    c.append(i.text)
Skills_they_hire_for=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
skills=[]
for i in Skills_they_hire_for:
    skills.append(i.text)
Location=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
loc=[]
for i in Location:
    if i.text is None:
        loc.append('--')
    else:
        loc.append(i.text)

In [99]:
Naukri2=pd.DataFrame()
Naukri2['Name']=name[0:47]
Naukri2['Designation']=d[0:47]
Naukri2['Company']=c[1::2][0:47]
Naukri2['Skills_they_hire_for']=skills[0:47]
Naukri2['Location']=loc[0:47]
Naukri2

,Name,Designation,Company,Skills_they_hire_for,Location
0,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
1,Shailaja.N,Company Recruiter,Kigyan School of Data Science Pvt.Ltd.,Not Specified,Bengaluru / Bangalore
2,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore
3,vidya bhushan singh,jaipur,Next Data Science,Business Analysis,Jaipur
4,Dr. S. Prasanna Devi,Professor and Head,SRM Institute of Science and Technology,"Computer Science, Machine Learning, Deep Learn...",Chennai
5,Rajni,Team Leader HR Operations,Red Ore Services Pvt Ltd.,"Analytics, Machine Learning, Data Science, Etl...",Delhi
6,Preeti M,Talent Aquesition,Upgrade HR Consulting Pvt Ltd,"Data Science, Machine Learning, Core Java, Jav...",Bengaluru / Bangalore
7,Daniel Vaz,Senior Consultant Trading Technology...,Klickto Search,High Frequency Trading firms &amp; Hedge Funds,Mumbai
8,Senior Recruiter,Senior Recruiter,Asirvad Microfinance Private Ltd,"Leadership Hiring, Delivery Leadership, Busine...",Chennai
9,Sam Patel,Recruitment Executive,Clevrai,"Web Development, Data Science, Financial Analy...",Chennai
10,Vivek Kapadia,Director,KMAN Consulting,"Cto, Program Management, Data Science, Artific...",Bengaluru / Bangalore
11,Rahul Jain,Recruitment Consultancy,Qcheck,MNC Company,Kolkata
12,Aptech Computer Education,Director,Ajay Gupta,"c, c++, java, python, Big Data, hadoop, Androi...",NEW DELHI
13,Macherla Suresh Kumar,Chief Executive Officer,Sree Brinda Consultancy Services,"MNC, CMM Level Companies in India",Chennai
14,Sathya,Director,Digital AI,"Ai, Data Science, Machine Learning, Deep Learning",Chennai
15,Gujarat IT Solution,Founder CEO,Gujarat IT Solution,"Python, Big Data, Data Science, Data, R, Learning",Rajkot
16,Karvy,Vice President Human Resources,Karvy Analytics,"Business Analytics, Big Data Analytics, Hadoop...",Hyderabad / Secunderabad
17,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Chennai
18,Bluemix Technologies,Company,Bluemix Technologies,"Engineering, Training, SMM, SMO, Corporate Tra...",Pune
19,MATRIX Institute,Operations Manager,Prashanth,"Information Technology, Machine Learning, Data...",Chennai
20,Arunim Das,Co-Founder &amp; Managing Director,WilSkils Solutions,"Analytics, Data Science",Hyderabad / Secunderabad
21,Kogila,Manager,Radiant Technology and Consultancy,"Technical Support, sales, Career Counselling, ...",Delhi
22,Gurpreet Khera,Country Manager,SmartBuild Asia,"Python, Data Science, Etl, Analytics",Pune
23,Mr.Phani,Manager,NareshiTechnologies,"Corporate Training, It Training, Education, Ed...",Delhi
24,Rajpal Tyagi,Managing Director,Gelegenheit Management Private Limited,"Cryptography, Big Data, Data Science, Blockchain",Navi Mumbai
25,Inteliment,BI &amp; Analytics,Inteliment Technologies,"Sap Bw, informatica, tableau, Sap Bo, Power Bi...",Chennai
26,Urvi Kumar,Talent Recruiter,Augment Systems Pvt Ltd,"Content Writing, research, Software Services, ...",Bengaluru / Bangalore
27,Vikram Pethe,Manager Hr,Data Science Technologies,"Wireless Communications, 3G/LTE/WiMAX, Broadco...",Hyderabad / Secunderabad
28,Umamaheswari,Company HR,ADF Data Science Private Limited,Not Specified,Bengaluru / Bangalore
29,Raji M,Head Human Resources,InstaFinancials,"Data Analytics, Business Intelligence, Softwar...",Bengaluru / Bangalore
30,Shyam Pasumarthy,Manager HR Operations,Domain Clinical Data Sciences Private...,"Clinical Sas Programming, Sas Programming, Adam",Bengaluru / Bangalore
31,InstaFinancials,Human Resource,CBL Data Science Pvt Ltd,"Technical, Marketing, Sales, Customer Support,...",Bengaluru / Bangalore
32,Akash Kulkarni,Director &amp; CEO,Netzwerk Data Science Academy,Not Specified,Gurgaon
33,Anandh,MD,Gladwin Analytics,"Big Data, Analytics, Machine Learning, Artific...",Noida
34,Leena Nothani,Associate Partner Analytics Hiring,Asterion Consulting Pvt. Ltd,"Analytics, Machine Learning, Big Data Analytic...",Pune
35,Sanchit Garg,Strategy Consultant,dDriven Data Sciences &amp; Analytics Pvt....,Not Specified,Noida
36,Mamta rawat,Technical Recruiter,antrix academy of Data Science,Not Specified,Hyderabad / Secunderabad
37,Sandeep Seth,Co Director,Data Science Technologies Pvt Ltd,Not Specified,Mohali
38,Mamta Rawat,Technical Recruiter,Antrix Academy of Data Science,Not Specified,Bengaluru / Bangalore
39,Pradeep,Director,Data Science Authority,Not Specified,Vadodara / Baroda
40,Rupali Vadera,HR Manager,Piford Technologies Pvt Ltd,"Training, Java Trainer, Android Trainer, Pytho...",Kolkata
41,Naga Deepika AlgoSquare,Consultant HR,AlgoSquare Data Science Pvt Limited,Not Specified,Pune
42,Rang Technologies,Corporate HR,Rang Infosoft Pvt. Ltd.,Rang Technologies Inc,Delhi
43,Lina Ray,HR Manager,Business Brio,"Analytics, Mdm, Data Science, Artificial Intel...",Bengaluru / Bangalore
44,Vivek Rane,Chief Executive Officer,Alpha Analytics Services Private Limited,"Marketing, Analytics, Business Intelligence, M...",Hyderabad / Secunderabad
45,Priyanka Balodi,HR Analyst,KnowDis Data Science LLP,Data Science,Vijayawada
46,Sai Theja,Operations Lead,Sumyag Data Sciences Private Limited,"Data Science, Engineering, Data Analysis, Big ...",Chandigarh

In [100]:
Name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
name=[]
for i in Name:
    name.append(i.text) 
Designation=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
d=[]
for i in Designation:
    d.append(i.text)
Company=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
c=[]
for i in Company:
    c.append(i.text)
Skills_they_hire_for=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
skills=[]
for i in Skills_they_hire_for:
    skills.append(i.text)
Location=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
loc=[]
for i in Location:
    if i.text is None:
        loc.append('--')
    else:
        loc.append(i.text)

In [103]:
Naukri3=pd.DataFrame()
Naukri3['Name']=name[0:50]
Naukri3['Designation']=d[0:50]
Naukri3['Company']=c[1::2][0:50]
Naukri3['Skills_they_hire_for']=skills[0:50]
Naukri3['Location']=loc[0:50]
Naukri3

,Name,Designation,Company,Skills_they_hire_for,Location
0,Mukesh Kumar,Company Recruiter,Tata Consultancy Services Ltd.,"Datastage, Big Data, Data Science, Hadoop, Inf...",Chennai
1,Gautam Munshi,Company Recruiter,Redwood Associates Business solutions Pvt....,"Data Science, Analytics, Business Analytics, M...",Bengaluru / Bangalore
2,Chetan Agarwal,Co Founder,DataGarner,"Big Data, Spark, Java, Hadoop, Neo4j, Machine ...",Kolkata
3,Nisanth Vidyadharan,Company Recruiter,WHIRLDATA LABS PRIVATE LIMITED,"Data Science, Machine Learning, Deep Learning,...",Chennai
4,Sai Kartheek,Senior Recruiter,Globalhumanr.com,"Rpa, Iot, Blockchain, Ai, Mahchine Learning, D...",Hyderabad / Secunderabad
5,Vasundhara Kaul,Company Recruiter,Bharti Airtel Limited,"Data Analysis, Data Science, Predictive Modeli...",Gurgaon
6,Animesh Choudhuri,Head Recruitment,Swiftonne Logistics Solutions Pvt. Ltd.,"Data Analytics, Data Science, Python, Advanced...",Gurgaon
7,Sekhar Reddy,Company Recruiter,TRIQUETRO INFOTECH PVT LTD,"Big Data, Hadoop, Data Science, Etl, Informati...",Bengaluru / Bangalore
8,Mounica Pulipalupula,Hiring Manager,Anram Solutions Private Limited,"Cloud Computing, Cyber Security, Iot, Big Data...",Hyderabad / Secunderabad
9,Shaleena Panicker,Human Resources Manager,Prevalent AI,"Big Data Analytics, Hadoop, Data Science, Mach...",Cochin
10,Swetha.VK,Executive _Talent Acquisition,Trianz Holdings Pvt. Ltd.,"Data Science, Data Analytics",Hyderabad / Secunderabad
11,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
12,Saranya S,Talent Acquisition Specialist | IT...,KG information Systems Pvt Limited,"Mean Stack, Web Designing, Big Data, Data Scie...",Coimbatore
13,Dileep,Recruitment Consultant,Dileep,"Software Development, Android Development, Dat...",Hyderabad / Secunderabad
14,Karan,Manager,Edazon Technologies,"Data Analytics, Tableau, Machine Learning, Art...",Chandigarh
15,Charu Jindal,Assistant Manager,EYGBS (India) Private Limited,"Data Science, finance, analytics, Information ...",Gurgaon
16,Ved Prakash,CEO,vvsfix,"Data Science, Business Intelligence, Analytics...",Jaipur
17,Jyoti Ranjan Mishra,Co Founder,Corpnce Technologies,"Data Science, Machine Learning, Artificial Int...",Bengaluru / Bangalore
18,Arabinda Das,Head Service Delivery Business Operation,Brainsearch Consulting,"Sap Basis, sap basis consultant, Magento, Word...",Noida
19,Murtuza Bharmal,Managing Director &amp; CEO,Aayaan Data Science Private Limited,"Software Development, Sales",Rajkot
20,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Bengaluru / Bangalore
21,Hansraj B Surti,Talent Acquisition Specialist,Xoriant Solutions P Ltd,"Devops, Storage, Web Technology, Microsoft Tec...",Mumbai
22,Deepak Kumar Tyagi,Recruiter,Success pact IT Consulting,"Ui Development, Front End, Java, Javascript, P...",Noida
23,Kranthi Kumar M,Lead HR Talent Acquisition,PrimEra Medical Technologies Private...,"Medical Coders, mbbs, bi, appeals, master data...",Hyderabad / Secunderabad
24,Thiyagarajan Selvaraj,Talent Advisor,Epsilon,"Big Data, java, aws, ansible, Docker, Puppet, ...",Bengaluru / Bangalore
25,Karthik,HR Recruiter,MakeCareerHere.com,"Scrum, Agile, Business Partnering, Recruitment...",Mumbai
26,Leafy Creatives Solutions,HR,Leafy Creatives Solutions,"Java, Big Data, Mobile Application Development...",Gurgaon
27,Manjunathan D,IT Recruiter,SFJ Business Solutions Pvt Ltd,"Java, C#, Aws, Cloud, Odi, Automation, Seleniu...",Bengaluru / Bangalore
28,Sai Krishna,Senior HR Executive,Kogentix Technologies Private Limited,"Agile, Java, T-sql, Firewalls, Scrum, Hadoop, ...",Hyderabad / Secunderabad
29,Kajal Yadav,HR Manager,Zvesta.com,"Backend, Communication Skills, Operations, Tel...",Gurgaon
30,Anusha B,HR Manager,IndOz TechSol,"Google Analytics, Data Analytics, Data Science...",Hyderabad / Secunderabad
31,TerraBlue XT,HR manager,TerraBlue XT,"Java, SQL, Algorithms, Python, Data Mining, R,...",Bengaluru / Bangalore
32,Smitha Kumili,HR Business Partner,Netserpents LLC,"Big Data, Analytics, SQL, JAVA, Python, PIG, H...",US - (Parsippany)
33,Uday Kumar Goparaju,HR Coordinator,CoreCompete Pvt Ltd,"SAS, DATA SCIENCE",Hyderabad / Secunderabad
34,Immanuel Jabudurai Nadar,Company Recruiter,Immanuel Jabudurai Nadar,"etl, Etl Trainer, Etl Testing, Technical Train...",Pune
35,kanika mishra,Corporate Recruiter,Opera Solutions,"Java, Linux, etl, Data Modelling, Data Warehouse",Delhi
36,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
37,Sindhuja,Hr Associate,Cappius,"Big Data Analytics, Full Mean Stack",Hyderabad / Secunderabad
38,Raman Saroya,Company Recruiter,ICAII Computer IT Skill Enhancement...,"Software Development, Responsive Web Design, D...",Mohali
39,Naresh,IT Recruitment Consultant,Waterleaf Consultants Pvt. Ltd.,"Managers, Operational Head, Directors, Ceo, Da...",Hyderabad / Secunderabad
40,Radial HR Solutions,Human Resource,Radial HR Solutions,"IT Software, IT Hardware, Engineering, Manufac...",Bengaluru / Bangalore
41,Kusum Gaur,Recruitment Associate,Microsoft Corporation,"Mobile Application Development, Atg Developer,...",Gurgaon
42,Mohammad Raashid,Recruitment Consultant,Freelancer,"Manufacturing Industry, construction, IT Industry",Mumbai
43,ananya,Chief Executive Officer,Appsify Learning,"Cloud Computing, Enterprise Mobility, Big Data...",NAVI MUMBAI
44,Avantika,Recruitment Consultant,e2ehrconnect,"programming, Data Engineer, Ios Development, a...",Bengaluru / Bangalore
45,Annpurna,Senior Consultant,Klickto Search,"c++, Low Latency, multithreading, High Frequen...",Hong Kong
46,Sridhar,Head Recruitments,Capperson Manpower Resources,"manufacturing, finance, accounts, Business Dev...",Chennai
47,Laxmi Kant Tiwari,Chief Executive Officer,mBreath Technologies Private Limited,"Android, Embedded, Data Science, Ios Development",Kharagpur
48,Rajiv Raj,Director,CreditVidya,"Big Data, Data Management, Data Analytics, Ban...",Mumbai
49,Sahil Nizam,Lead Recruiter,Third Eye Consulting Services Solutions...,"Big Data, hadoop, Map Reduce, mapreduce, pig, ...",US - (Santa Clara)

In [104]:
Name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
name=[]
for i in Name:
    name.append(i.text) 
Designation=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
d=[]
for i in Designation:
    d.append(i.text)
Company=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
c=[]
for i in Company:
    c.append(i.text)
Skills_they_hire_for=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
skills=[]
for i in Skills_they_hire_for:
    skills.append(i.text)
Location=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
loc=[]
for i in Location:
    if i.text is None:
        loc.append('--')
    else:
        loc.append(i.text)

In [106]:
Naukri4=pd.DataFrame()
Naukri4['Name']=name[0:49]
Naukri4['Designation']=d[0:49]
Naukri4['Company']=c[1::2][0:49]
Naukri4['Skills_they_hire_for']=skills[0:49]
Naukri4['Location']=loc[0:49]
Naukri4

,Name,Designation,Company,Skills_they_hire_for,Location
0,Surreesha Jagarlamudi,Chief Executive Officer,Wikijobs,"Silicongigs, RAMINFO Limited, iGreensystems, C...",Hyderabad / Secunderabad
1,Elizabeth Mark,Human Resources,Marvel Geospatial Solutions Pvt. Ltd.,"Cad/ Bim Engineers, Ortho-engineer, Photogramm...",Hyderabad / Secunderabad
2,Msima,Senior Recruitment Executive,Accenture,"Musigma, accenture, Boston",Bengaluru / Bangalore
3,RAHUL CHOUDHARI,CEO,SECRET TECHNOLOGIES INDIA (VMS Group),"Java, PHP, Web Development, Web Designing, Web...",Pune
4,Ranjith Badri,Senior HR Recruitment,Phenom People Pvt Ltd,"Java, Core Java, Machine Learning, Nlp, Angula...",Hyderabad / Secunderabad
5,Charu Sethi,Assistant Manager Talent Acquisition,Guavus Network Systems,"Data Scientist, System Testing, Automation Tes...",Gurgaon
6,TSD Corporation,Manager,TSD Corp,"social media marketing, Content Writing, Socia...",Delhi
7,Rajeev,Founder,SimplyPeople.in,"Human Resource Management, Sales, Marketing, B...",Delhi
8,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
9,Pallavi Kashyap,Manager,Nacre,"Big Four, Consulting Firms, Fortune 100 Organi...",Delhi
10,Akhila Agnihotri,Quantitative Trade Desk Team Lead,BP Wealth,"Data Science, Quantitative Research, Cloud Com...",Mumbai
11,Wayne Spencer,Company Executive,Yellow Elephant Consulting,"Spark, Scala, Data Modeling, Python, Postgresq...",Australia - (Other Australia)
12,Balaram Sahu,Sr Manager Human Resources,Fastlane Information Technologies Pvt Ltd,"Web Technologies, Web Development, Javascript,...",Hyderabad / Secunderabad
13,Chandrakant Agrawal,SoftWare Engineer,Java Script,"Software Development, Computer Science, Jave C...",Pune
14,Pooja Falwariay,Talent Acquisition Specialist,"OYO Rooms, Oravel Stays Private Limited","sales executive activities, Management Interac...",Gurgaon
15,Idris Khan,Company HR,Navedas Technology Solutions Pvt. Ltd,"Information Technology, Business Development, ...",Bhubaneshwar
16,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
17,Kalyan Kumar Reddy,Company Recruiter,Krishna Institute of Medical Sciences Ltd.,"Techno Project Manager, Data Enablement, Data ...",Hyderabad / Secunderabad
18,Arman,HR &amp; Administration Executive,SharpTech Global,"Big Data, Front End, Backend, Database Adminis...",Delhi
19,Balaji Pandiyan,Manager - Talent Acquisition,CloudSEK - Cyber Security Startup,"Java, Oracle, Unix, Ms Sql, Pl / Sql Coding, A...",Bengaluru / Bangalore
20,Sonia Gupta,Recruitment Ninja,HyringNinja,"marketing, Pharma Marketing, Surgical Sales, s...",Chennai
21,Sachitanand Gudup,Senior HR- Talent Acquisition Partner,At MNC,"Java, Jsp, Servlets, Php, Drupal, Crm, Billing...",Pune
22,Swapna Saridi,Associate Manager - TAG,Sunera Technologies,"fullstack, Big Data, hadoop, angularjs, php, p...",Hyderabad / Secunderabad
23,Mohiddin,HR-Incharge,Fortune Softtech,"Programming, Sql Server Dba, Android Applicati...",Hyderabad / Secunderabad
24,Mohit Arvind Khakharia,"Vice President, Software",Buffalo Automation Group inc.,"Java, J2ee, Spring Mvc, Mongodb, Node.js, Aws,...",New York
25,Shantanu Bose,Technical Lead Recruiter,Confidential,"Information Technology, Mechanical Design, Bus...",Nagpur
26,Imtiyaz Mehdi,Global Talent Acquisition Manager,SRM360 Consulting,"css, jquery, Node.js, rest, git, nosql, aws, T...",Hyderabad / Secunderabad
27,SUNIL KUSHAL,HR Consultant Software Developer,Relaince pvt.ltd,"B.tech, Chartered Accountant, Management, Othe...",Bengaluru / Bangalore
28,K Dhananjay Rao,MTech coordinator,Centurion University,"Mechanical Engineering, Electrical Engineering...",Orissa - Other
29,JobGully,Recruitment and Staffing Consultant,JobGully (India),"Java, Core Java, Php, .Net, Asp, Big Data, Con...",Delhi
30,Supriya Patanjali,Talent Acquisition Specialist,NOODLE ANALYTICS PRIVATE LIMITED,Not Specified,Bengaluru / Bangalore
31,P K Mahato,Company HR,ABP Pvt. Ltd.,"Data Science, Business Analytics, Core Java, Q...",Kolkata
32,Connecting The Dots,Company HR,Connecting The Dots,"Predictive Maintenance, Machine Learning, Acco...",Bengaluru / Bangalore
33,Adhilakshmi,Senior IT Recruiter,Avyayh,Product based and service based companies,Chennai
34,Rose Mary,Talent Acquisition Specialist,Flex i Partners,"Senior Management, Information Technology, Fac...",Bengaluru / Bangalore
35,Azim Hajiyani,Sr Associate Recruitment,Synechron Technologies Private Limited,"Core Java, Java, C++, Business Analyst, Angula...",Pune
36,Nasim khan,Company HR,Angel Broking Limited,"Business Development, Client Acquisition, Bdm,...",Mumbai
37,AMIT CHAUDHARY,Human Resources Specialist,"AlfaTech ,","Software, Chartered Accountant, Marketing, Acc...",Mumbai
38,Imran,Recruitment Manager,Recruitment Expert,Multinationals and Major Players across Indust...,Mumbai
39,Srinath,Company HR,elth.ai (HCFAB Health Technologies),"NLP, Python, Artificial Intelligence, Django, ...",Bengaluru / Bangalore
40,Rajrupa,HR Coordinator,Yodlee Infotech,"Operations Management, Development Management,...",Bengaluru / Bangalore
41,Nilesh Bramhane,Talent Acquisition Specialist,Redhat,Not Specified,Pune
42,Satyapal Chauhan,Senior Technical Recruiter,Collabera Technologies Pvt. Ltd.,"Software Development, Test Engineering, Devops...",Hyderabad / Secunderabad
43,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Ghaziabad
44,Reshu,HR Manager,Synergistic Compusoft Private Limited,"Us It Recruitment, Us It Staffing, Software De...",Surat
45,Akanksha B,Company Recruiter,Supl.ai,"sales, Hiring, Content Management, Human Resou...",Mumbai
46,Arya,Human Resources Manager,Arya.ai,"Artificial Intelligence, Deep Learning, Machin...",Visakhapatnam
47,Bhuvana Reddy,HR Manager,NCPL Inc,"php, angularjs, Android Development, Ios Devel...",Nellore
48,Aadith T Prabhakar,Head HR,Audisankara College of Engineering and...,"Teaching, It, Engineering",Ernakulam

In [108]:
df=pd.concat([Naukri,Naukri2,Naukri3,Naukri4],ignore_index=True)
df

,Name,Designation,Company,Skills_they_hire_for,Location
0,HR Manager,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Company Recruiter,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Company HR,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Company Recruiter,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Founder CEO,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
...,...,...,...,...,...
189,Reshu,HR Manager,Synergistic Compusoft Private Limited,"Us It Recruitment, Us It Staffing, Software De...",Surat
190,Akanksha B,Company Recruiter,Supl.ai,"sales, Hiring, Content Management, Human Resou...",Mumbai
191,Arya,Human Resources Manager,Arya.ai,"Artificial Intelligence, Deep Learning, Machin...",Visakhapatnam
192,Bhuvana Reddy,HR Manager,NCPL Inc,"php, angularjs, Android Development, Ios Devel...",Nellore
193,Aadith T Prabhakar,Head HR,Audisankara College of Engineering and...,"Teaching, It, Engineering",Ernakulam

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [162]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [177]:
name=[]
try:
    Book_Names=driver.find_elements_by_xpath("//table[@class='in-article sortable'][1]/tbody/tr/td[2]")  
    for i in Book_Names:
        name.append(i.text)
except NoSuchElementException:  
        name.append('No details available')
except NoSuchElementException:   
        name.append('No details available')

names=[]
try:
    Author_Names=driver.find_elements_by_xpath("//table[@class='in-article sortable'][1]/tbody/tr/td[3]")  
    for i in Author_Names:
        names.append(i.text)
except NoSuchElementException:  
        names.append('No details available')
except NoSuchElementException:   
        names.append('No details available')        
        
volumes=[]
try:
    Volumes_Sold=driver.find_elements_by_xpath("//table[@class='in-article sortable'][1]/tbody/tr/td[4]")  
    for i in Volumes_Sold:
        volumes.append(i.text)
except NoSuchElementException:  
        volumes.append('No details available')
except NoSuchElementException:   
        volumes.append('No details available')        
        
publisher=[]
try:
    Publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable'][1]/tbody/tr/td[5]")  
    for i in Publisher:
        publisher.append(i.text)
except NoSuchElementException:  
        publisher.append('No details available')
except NoSuchElementException:   
        publisher.append('No details available') 
        
genre=[]
try:
    Genre=driver.find_elements_by_xpath("//table[@class='in-article sortable'][1]/tbody/tr/td[6]")  
    for i in Genre:
        genre.append(i.text)
except NoSuchElementException:  
        genre.append('No details available')
except NoSuchElementException:   
        genre.append('No details available')

In [178]:
Novels=pd.DataFrame()
Novels['Book_Names']=name
Novels['Author_Names']=names
Novels['Volumes_Sold']=volumes
Novels['Publisher']=publisher
Novels['Genre']=genre
Novels

,Book_Names,Author_Names,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [233]:
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [298]:
Name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
name=[]
for i in Name:
    name.append(i.text)

Year_span=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")  
year=[]
for i in Year_span:
    year.append(i.text)

Genre=driver.find_elements_by_xpath("//span[@class='genre']")  
genre=[]
for i in Genre:
    genre.append(i.text)

Run_time=driver.find_elements_by_xpath("//span[@class='runtime']")  
time=[]
for i in Run_time:
    time.append(i.text)
    
Ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")  
rating=[]
for i in Ratings:
    rating.append(i.text)
 
Votes=driver.find_elements_by_xpath("//p[@class='text-muted text-small']")  
votes=[]
for i in Votes:
    votes.append(i.text.replace('Votes:',' '))

In [299]:
IMDB=pd.DataFrame()
IMDB['Name']=name
IMDB['Year_span']=year
IMDB['Genre']=genre
IMDB['Run_Time']=time
IMDB['Ratings']=rating
IMDB['Votes']=votes[2::3]
IMDB

,Name,Year_span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,832,620"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"871,542"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"878,132"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"263,829"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,400"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,745"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,317"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"169,115"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,067"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"192,947"

10.Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [39]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [40]:
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()

In [66]:
name=[]
try:
    Dataset_Names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in Dataset_Names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
    
data=[]
try:
    Datatype=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in Datatype:
        data.append(i.text)
except NoSuchElementException:
    data.append('No details available')
    
task=[]
try:
    Task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in Task:
        task.append(i.text)
except NoSuchElementException:
    task.append('No details available')
    
att=[]
try:
    Attribute_type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in Attribute_type:
        att.append(i.text)
except NoSuchElementException:
    att.append('No details available')
    
instances=[]
try:
    Number_of_instances=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in Number_of_instances:
        instances.append(i.text)
except NoSuchElementException:
    instances.append('No details available')
    
attribute=[]
try:
    Number_of_attributes=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in Number_of_attributes:
        attribute.append(i.text)
except NoSuchElementException:
    attribute.append('No details available')
    
year=[]
try:
    Year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in Year:
        year.append(i.text)
except NoSuchElementException:
    year.append('No details available')

In [64]:
Dataset=pd.DataFrame()
Dataset['Dataset_Names']=name
Dataset['Datatype']=data[1:]
Dataset['Task']=task[1:]
Dataset['Attribute_type']=att[1:]
Dataset['Number_of_instances']=instances[1:]
Dataset['Number_of_attributes']=attribute[1:]
Dataset['Year']=year[1:]
Dataset

,Dataset_Names,Datatype,Task,Attribute_type,Number_of_instances,Number_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021